{% extends 'ressApp/base.html' %}

<!-- authors: David Hartmann -->

{% block title %}
    <title>Bamberger Ressourcenpool - Passwort ändern</title>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col">
                <h1>Passwort ändern</h1>
                <form method="post" role="form">
                    {% csrf_token %}
                        {{ form}}
                    <button class="btn btn-primary" type="submit">Änderung speichern</button>
                </form>
            </div>
        </div>
{% endblock %}